.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/libs/sandbox.jar
sandbox/build/scripts/sandbox
sandbox/build/scripts/sandbox.bat
sandbox/build/tmp/jar/MANIFEST.MF
*.class
*.xml
*.iml
addressbook-web-tests/gradlew
addressbook-web-tests/gradlew.bat
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/modules.xml
sandbox/out/test/classes/ru/stqa/java_training/sandbox/SquareTests.class
.idea/codeStyles/codeStyleConfig.xml
addressbook-web-tests/gradle/wrapper/gradle-wrapper.properties
addressbook-web-tests/gradle/wrapper/gradle-wrapper.jar
.idea/modules/sandbox_test.iml
.idea/modules/sandbox_main.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/modules/sandbox_main.iml
.idea/modules/sandbox_test.iml
sandbox/out/test/classes/ru/stqa/java_training/sandbox/SquareTests.class
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
